@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* VARIAVEIS */
:root {
    --logo-width: 100px;
}

body {
    background-color: black;
    width: 100%;
}

body .logo {
    width: var(--logo-width);
    border-radius: 30px;
    margin: 8px 0px 8px 0px;
}

body header {
    width: 100%;
    background-color: #9d9d9d;
    display: inline-flex;
}

body header #header-components {
    display: inline-flex;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

body .menu {
    margin: auto;
}

body .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body .menu li {
    display: inline;
    float: left;
}

body .menu a {
    text-decoration: none;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: large;
    margin: 0 24px;
}

body .menu a:hover {
    color: black;
    font-weight: bold;
}

#site-content {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
}

#site-content #video-casa-nova {
    color: aliceblue;
}