@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* VARIAVEIS */
:root {
    --logo-width: 100px;
}

body {
    background-color: black;
}

body .logo {
    width: var(--logo-width);
    border-radius: 30px;
    margin: 8px 162px 8px 54px;
}

body header {
    width: 100%;
    background-color: #9d9d9d;
    display: inline-flex;
}

body .menu {
    margin: auto 0;
}

body .menu a {
    text-decoration: none;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: large;
    margin: 0 24px;
}

body .menu a:hover {
    color: black;
    font-weight: bold;
}